* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

.main-page-loader {
    height: 100vh;  /* Full viewport height */
    width: 100vw;   /* Full viewport width */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #f4f4f4; /* Background color for loader */
    position: fixed;  /* Fixes the loader to the viewport */
    top: 0;           /* Positions it at the top */
    left: 0;          /* Positions it at the left */
    z-index: 1000;   /* Ensures it is above all other content */
}

.loader {
    position: relative;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    scale: 300%;
    overflow: hidden;
}

.loader img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.loader img.active {
    opacity: 1;
}
