
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#main {
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    max-width: 1400px; 
    margin: 0 auto; 

}

.page1 {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    position: relative;  

}

nav {
    background-color: #ffffff;
    padding: 1.2vw 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

nav img {
    height: 38px;
    padding: 0;
}

.nav-elements {
    display: flex;
    align-items: center;
}
.nav-elements .txt-nav {
    padding: 0 1.8vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}
.but-get {
    background-color: #1F2122;
    color: #ffffff;
    padding: 9px 18px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    align-self: center;
}
.nav-elements .but-get h4 {
    color: rgba(255, 255, 255, 0.951);
    font-weight: 500;
}

.nav-elements h4 {
    color: #1f212200;
    font-weight: 500;
    cursor: pointer;
}

.nav-link {
    position: relative;
}
  
.nav-link::after {
    content: "";
    display: block;
    width: 0%; 
    height: 3px;
    background-color: #1F2122;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.3s; 
}
  
.nav-link:hover::after {
    width: 100%;
}
.txt-nav h4 a:hover {
    color: #1F2122;
    font-weight: 550;
}

.txt-nav h4 a {
    color: #1f2122cf;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
.mid {
    padding-bottom: 2vw;
    width: 100%; /* Full width of the page */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.mid iframe {
    width: 100vw; /* Adjust to your preferred width */
    min-width: 100vw; /* Max width to prevent overly large slideshows */
    height: 500px; /* Fixed height for the slideshow */
    border: none; /* Remove iframe border */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow for a better visual */
}

.middle-txt {
    display: flex;
    padding-top: 2vw;
    margin-bottom: -8px;
    justify-content: center; 
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    color: #494b4d;
    font-family: 'lexend', sans-serif;

}
.middle-txt-1 {
    display: flex;
    padding-top: 1vw;
    justify-content: center; 
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    color: #494b4d;
    font-family: 'lexend', sans-serif;

}

.middle {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/* .middle iframe {
    height: 100vh;
} */

.slideshow-mid {
    padding: 5vw 0vw;
    width: 100vw;
    height: auto;
    min-height: 500px;
    border: none;
}


.middle-services-main {
    display: flex;
    justify-content: space-around; /* Distributes items with equal space around */
    align-items: center; /* Vertically centers the icons */
    padding: 4vw;
    flex-wrap: wrap; /* Wraps elements if the screen is smaller */
    flex-direction: row; /* Aligns items in a row */
}

.main1 {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px; /* Ensures all elements have the same width */
}

.main-box {
    height: 200px;
    width: 200px;
    border-radius: 40% 60% 65% 35% / 57% 46% 54% 43% ;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.main-box img {
    width: 120px;
}

.main1-txt {
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
}

#main-co:hover {
    background-color: #6fcaed !important;
}

.main1-txt p {
    padding-top: 0.5vw;
    width: 225px;
    line-height: 20px;
}

/* Hover effect for icons */
.main-box:hover {
    background-color: #f0c595;
}

.sizes-txt {
    color: #494b4d;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    text-align: center;
}

.advertise {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 50%;
}
.ad1 {
    align-items: center;
    width: 50%;
    scale: 80%;
}

.ad2 {
    width: 50%;
}

.sizes-main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 4em;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  scale: 120%;
  transition: all ease-in-out 0.5s;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  overflow: hidden;
}
.flip-card-front img {
    overflow: hidden;
}

.flip-img {
    width: 250px !important;
    height: 250px !important; 
}
.flip-img, .flip-card-front, .flip-card-inner, .flip-card-back, .flip-card {
    border-radius: 5%;
}

.flip-card-back {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* This ensures the vertical stacking of h1 and p tags */
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}




.footerbox {
    background-color: #1e2021;
    color: #fff;
    position: relative;
    width: 100%;
    height: 50vh;
    
}
.foot-txt{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.foot-txt {
    font-size: 1.3rem;
    text-align: left;
}
.social {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    background-color: #fff;
    height: 40px;
} 
.social-media {
    top: 20%;
    left: 0;
}


footer {
    background-color: #1e2021;
    padding: 20px 0 0 0;
    text-align: center;
    min-height: 30vh;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
}

.footer-left h1 {
    text-align: left;
    font-size: 2.4rem;
    color: #fff;
    margin-top: 76px;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    margin: 50px 0;
    font-size: 1.2rem;
    color: #fff;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: invert(100%); /* makes the icon white */
}

.footer-bottom {
    border-top: 1px solid #333;
    padding: 20px 8% 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-bottom ul {
    list-style-type: none;
    display: flex;
}


.footer-bottom ul li {
    margin: 0 15px;
}

.footer-bottom ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #fff;
}


.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  
/* Padding and margin adjustments for smaller screens */
@media (max-width: 680px) {

    .nav-elements{
        display: none;
    }

    .middle {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    

    .slideshow-mid {
        padding-top: 20vw;
        border: none;
        position: relative;
        width: 100%;
        height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0vw;
    }

    .middle-services-main {
        flex-direction: column; /* Stack icons vertically */
        margin-top: 2rem; /* Push the section down from the top */
        padding: 2vw 0;
    }
    .middle-txt-1 h2 {
        margin-top: 4rem;
        font-size: 2.2rem;
    }

    .middle-txt h1 {
        font-size: 2.2rem;
        padding-top: 4vw;
    }

    .main1 {
        margin-bottom: 2rem; /* Add margin between the elements */
    }
    
    .main-box {
        width: 150px; /* Slightly reduce size to fit smaller screens */
        height: 150px;
    }
    
    .main1-txt {
        font-size: 1rem; /* Adjust font size for better readability */
    }

    .advertise {
        display: inline;
    }
    .ad1 {
        width: 200%;
        scale: 50%;
        margin-left: -210px;
        margin-top: -200px;
        margin-bottom: -300px;
    }
    .ad2 {
        padding-left: 50%;
    }

    

    .footer-container {
        display: block;
        text-align: center;
        padding: 20px 4%;
    }

    .footer-left h1 {
        font-size: 1.8rem;
        margin-top: 30px;
        text-align: center;
    }

    .footer-right {
        text-align: center;
        margin-top: 30px;
    }

    .footer-right p {
        margin: 20px 0;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom ul {
        flex-direction: column;
    }

    .footer-bottom ul li {
        margin: 10px 0;
    }
    
    .wrapper .icon {
        width: 40px;
        height: 40px;
    }
    
    .wrapper {
        padding-top: 20px;
    }
}
@media (min-width: 680px) {
    .menu-nav{
        display: none;
    }
}

